kip to content
 
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 @justin-changqi Sign out
2,578
68,356 31,359 github/gitignore
 Code  Pull requests 194  Projects 0  Insights
gitignore/Eagle.gitignore
de2539a  on Dec 26, 2017
@PTS93 PTS93 Added a few common CAM file extensions (#2555)
@icylogic @PTS93 @kc9jud @mibe
    
53 lines (42 sloc)  523 Bytes
# Ignore list for Eagle, a PCB layout tool

# Backup files
*.s#?
*.b#?
*.l#?
*.b$?
*.s$?
*.l$?

# Eagle project file
# It contains a serial number and references to the file structure
# on your computer.
# comment the following line if you want to have your project file included.
eagle.epf

# Autorouter files
*.pro
*.job

# CAM files
*.$$$
*.cmp
*.ly2
*.l15
*.sol
*.plc
*.stc
*.sts
*.crc
*.crs

*.dri
*.drl
*.gpi
*.pls
*.ger
*.gpi
*.xln

*.drd
*.drd.*

*.s#*
*.b#*

*.info

*.eps

# file locks introduced since 7.x
*.lck
© 2018 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
About
Press h to open a hovercard with more details.
